@model BerrasBio.ViewModels.UserLoginModel

<div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-12 col-lg-4">
        @{
            //if user is not logged in
            if (!User.Identity.IsAuthenticated)
            {
                <h6 class="text-primary">Du måste vara inloggad för att kunna boka</h6>
                <button id="BookingLogin" class="btn btn-primary" onclick="openLoginModal()">Logga in</button>
            }
            else
            {
                <h6 class="text-primary">Inloggad som @User.Identity?.Name</h6>
                <button id="BookingLogout" class="btn btn-secondary" >Byt Konto</button>
            }
        }
    </div>
</div>

<script>
    $("#BookingLogout").click(function () {
        SignOut()
    });
</script>