@model IEnumerable<BerrasBio.Models.Bookable_Seats>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                Sätesnummer
            </th>
            <th>
                Pris
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="selected-seats-table">

        @{
            int i = 0;
            foreach (var item in Model)
            {
                
                var saloonSeats = item.Seat.Saloon.Seats.OrderBy(s => s.SeatID);
                foreach (var seat in saloonSeats)
                {
                    i++;
                    if (seat == item.Seat)
                    {
                        <tr>
                        
                        <td>@i</td> 
                        <td>@item.Ticket_Price</td> 
                        </tr>
                        
                    }
                }
                i=0;
            }
        }




    </tbody>
</table>