@using BerrasBio.ViewModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/7a548851b4.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerrasBio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BerrasBio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="_Layout.cshtml.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    </style>

</head>
<body>

    <header id="header-menu">
        </button>
        <div id="header-title"><h3><a id="nav-item" asp-area="" asp-controller="Start" asp-action="Index">Berras Bio</a> </h3></div>
        <ul id="navbar"></ul>
        <partial name="_LoginPartial" />
    </header>

    <div id="menu-open" type="button"
         onclick='$("#header-menu").toggle();'>
        <i class="fa-solid fa-bars fa-4x"></i>
    </div>



    <partial name="~/Views/User/Login.cshtml" model="new UserLoginModel()" />



    <div class="wrapper" style="background-color: transparent">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - Berras Bio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/7a548851b4.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script type="text/javascript">

    function openLoginModal(){
        $('#loginModal').modal('show');
    }

    $("#loginModalSubmit").click(function () {
        $("#loginModal").modal('hide');
    });

    $("#loginModalClose").click(function () {
        $("#loginModal").modal('hide');
    });


    function RenderNavbar() {
      $.ajax({
        url: "../../Navbar/Menu",
        type: "POST",
        success: function (result) {
            document.getElementById("navbar").innerHTML = result;
        },
      });
    }
    RenderNavbar()


 $(window).resize(function() {
  if ($(window).width() > 1000) {
     $("#header-menu").show();
  }
});

$(document).ready(function() {
    if ($(window).width() > 1000) {
     $("#header-menu").show();
  } else{
     $("#header-menu").hide();
  }
});
</script>
