<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerrasBio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    

    <link rel="stylesheet" href="~/BerrasBio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="_Layout.cshtml.css" asp-append-version="true" />

    <style>
        #nav-item {
            color: #8b8d99;
            text-decoration: none;
            transition: 0.3s all;
            transition-delay: .1s;
        }

            #nav-item:hover {
                color: black;
                transition-delay: 0s;
            }
        #header-menu{
            background-color: white;
            display: flex;
            border-bottom: 1px solid lightgray;
            min-height: 80px;

        }
        @@media (max-width: 500px) {
            #header-menu{
            display: block;
            }
            #header-menu > #header-title{
                height: 50px;
                text-align: left;
                white-space: nowrap;
                padding-left: 28px;
            }
        }
        
    </style>

</head>
<body>

    <header id="header-menu">
        <div id="header-title"> <h3>Berras Bio</h3> </div>
        <ul>
            <li>
                <a id="nav-item" asp-area="" asp-controller="Start" asp-action="Index">Start</a>
            </li>
            <li>
                <a id="nav-item" asp-area="" asp-controller="Movies" asp-action="Index">Alla Filmer</a>
            </li>
            <li>
                <a id="nav-item" asp-area="" asp-controller="Shows" asp-action="All">Kommande Föreställningar</a>
            </li>
            <li>
                <a id="nav-item" asp-area="" asp-controller="AdminTool_Accounts" asp-action="Index">Accounts</a>
            </li>
        </ul>
    </header>

    <div class="wrapper">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - Berras Bio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/7a548851b4.js" crossorigin="anonymous"></script>
    <script>

        // if mobile screen, start with sidebar collapsed
        if($( window ).width() <= 1000){
            console.log("lol")
            $('#sidebar').toggleClass('active');
        }

        // toggle sidebar collapse
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>