
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul id="loginStatus" class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hej @User.Identity?.Name!</a>

            <button type="submit" class="nav-link btn btn-link text-dark" onclick="logout()">
                Logga ut
            </button>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Registrera</a>
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Logga in</a>
        </li>
    }
</ul>
<script>
    function logout()
    {
        $.ajax({
            url: '../../User/Logout',
            type: 'POST',
            success: function (result) {
                $("#loginStatus").html(result);
            }
        })
    }
</script>