body {
}


#poster {
    object-fit: cover;
    width: 80%;
    aspect-ratio: 27 / 40;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.movie {
    padding-top: 50px;
    display: grid;
    margin: auto;
    width: 20vw;
    min-width: 200px;
    z-index: 2;
}

    .movie a {
        display: grid;
    }


.table td {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 900;
}