@model IEnumerable<BerrasBio.Models.Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link rel="stylesheet" href="~/images/movie_poster/" asp-append-version="true" />
<div class="movies-wrap">
    <div class="movies-container">
        @foreach (Movie movie in Model){
            <div class="movie" style="text-align: center;">

                <a style="text-decoration: none;" href="@Url.Action("Details", "Movies", new { id = movie.MovieID })">
                    <img id="poster" src="@movie.Image_Source" />                    
                    <div style="color: white;" class="p-2 px-3 text-uppercase"><h5>@movie.Title</h5></div>
                </a>
                <p style="color: white;" class="p-2 px-3 text-uppercase">
                    @TimeSpan.FromSeconds(movie.Length).TotalMinutes minuter
                </p>
            </div>

        }

    </div>

</div>


